[2016-02-11 22:46] steveoh opened #1 "AGOL endpoint"
This would allow us to use the geocoding web api from arcgis online.

http://mapserv.utah.gov/arcgis/sdk/rest/index.html#/Geocode_Service/02ss0000003n000000/
http://mapserv.utah.gov/arcgis/sdk/rest/index.html#/Find_Address_Candidates/02ss00000015000000/

Find_Address_Candidates has a lot of parameters that we may not need. Maybe Michael can forward a link to an AGOL map that uses an address locato

[2016-02-11 22:51] steveoh opened #2 "shape@envelope"
The `^1.x` version returns a polygon when requesting the `shape@envelope` token.

Look into returning an envelop geometry for at least the esrijs response format.

[2016-02-11 22:54] steveoh opened #3 "PO Boxes"
the `^1.x` version only has po box locations from Neil Hood's group. We need someone to take the po box numbers and tie them to a location.

@BGranberg we spoke about this once in depth, do you remember how the data needed to be organized?

[2016-02-11 22:56] steveoh opened #4 "Canary Test"
http://byterot.blogspot.co.uk/2014/11/health-endpoint-in-api-design-slippery-rest-api-design-canary-endpoint-hysterix-asp-net-web-api.html

[2016-02-11 22:59] steveoh opened #5 "spatialReference in search"
![image](https://cloud.githubusercontent.com/assets/325813/12993594/57dcf6bc-d0d8-11e5-9757-d01578d31fbc.png)

`spatialReference` is implemented.
`spatialReference` is a `number`

add 3857 Web Mercator to Popular WKID's

[2016-02-11 23:02] steveoh opened #6 "Zone cleansing"
There has been a few occurances where the city/zone values contain `city of` or `town of`.

Strip those two strings out of zones if they are not zip codes.

[2016-02-11 23:03] steveoh opened #7 "Search error message"
When searching on a vanilla table with a spatial query we puke an ugly error.

http://api.mapserv.utah.gov/api/v1/search/SGID10.BOUNDARIES.UTAHLAWENFORCEMENTAGENCIES/County?geometry=point%3A+%5B443072%2C4460865%5D&apiKey=AGRC-ApiExplorer

[code]

Return a better error message.

[2016-02-11 23:09] steveoh opened #8 "geometry search parameter"
allow for esri json to be used instead of `point:[x,y]` syntax.
all non 26912 geometries to be used.

[code]

This happy paths esri devs but what do we do about folks who have an x,y field in a database?

[2016-02-11 23:12] steveoh opened #9 "json attribute casing"
in version `^1.x` we introduced a hidden flag to keep attributes cased the same way they are in the data. The camelCase code we use munged data.

I propose we remove the camel case option and introduce

- upper
- lower
- data (make default)

[2016-02-11 23:12] steveoh opened #10 "search results use alias value"
add a boolean flag to replace search result attributes with their alias values.

[2016-02-11 23:19] steveoh opened #11 "Prefix suffix direction match enforcement"
if input address is based a numeric streetname formatted address do not return a match where the found address has a different prefix direction or suffix direction (even from acs alises)

example:

677 E 1600 N Centerville should not return a match but currently returns: 677 W 1600 N, 84014 (input and result prefixes do not agree)

BUT allow for reversals

[2016-02-11 23:20] steveoh opened #12 "Reverse Geocode distance and direction"
think about geocoding the address returned by the reverse geocode to then get distance and angle of the line created by them. return those values.

[2016-02-11 23:22] steveoh opened #13 "Small offset geocoding"
We created 5 locators with a 5 meter offset.

they are named "Roads_AddressSystem_" + STREETNAME_5M, ALIAS1_5M, ALIAS2_5M, AND NoPrefix_5M

Add an option to the locators dropdown to use these locators.

We did this 3 years ago and have not used them. Do we still have a need for these?

[2016-02-11 23:24] steveoh opened #14 "Streets that don't have both an east and west"
Streets that don't have both an east and west (or a north and a south?) For the east and west, we want to end up with the shortest list........whether that be exceptions or the rule.

the unnecessary prefix (n, s, e, w) directions in utrans roads have been removed. We need to add prefix directions to the roads in utrans where needed. We will then create a google doc of the roads that need prefix d

[2016-02-11 23:26] steveoh opened #15 "Development Key Restrictions"
dev keys are open to any use from anywhere. need to limit the usage of these so they don't sneak into production. Cap uses per day? Have them expire?

[2016-02-11 23:27] steveoh opened #16 "Test Addresses"
@rkelson struggles to geocode [these types of addresses](https://docs.google.com/a/utah.gov/spreadsheet/ccc?key=0AlvuOBY8fixxdGNGTEV6ckUtdVczWVZZdS1JZmVSSGc#gid=0). The current web api probably barfs on them as well. We should figure out how we want to try to match these if at all.

[2016-02-11 23:28] steveoh opened #17 "IP Ranges"
google allows you to do `1.2.4.0/25` to imply that the subnet range will be 0 through 25. Consider this for the web api.

[2016-02-11 23:29] steveoh opened #18 "Responsive design"
collapse navigation when viewed on small viewport ie mobile.

remove beta flag.

[2016-02-11 23:29] steveoh opened #19 "Open source web api"
need to work out the web config/secrets etc before publishing to github

[2016-02-11 23:31] steveoh opened #20 "API Creation messages"
when someone puts in an ip starting with 192 or 127 or 0, alert them that it won't work.

[2016-02-11 23:31] steveoh opened #21 "Exemption list"
create a page where an admin can generate exemptible keys for applications so they aren't tied to a specific user.

[2016-03-04 00:13] steveoh opened #22 "Addresses with Suites"
sterlingpetersen@utah.gov

[code]
vs.

[code]

[2016-03-16 23:26] steveoh opened #23 "Address not reprojecting"
This address does not reproject to 4326.

[code]

[2016-03-17 15:56] stdavis opened #24 "SGID93 on 112"
@MichaelAGRC just told me that the server that this project is on is trying to hit SGID93 on 112. I assume that this project is the one doing that but not positive.

[2016-03-17 17:40] steveoh commented on #24
the web api does not run on 112. let's go :fishing_pole_and_fish:

[2016-03-17 19:26] steveoh commented on #24
michael clarified.

[2016-04-20 17:48] steveoh commented on #23
the problem stems from the `#` in the address not being encoded when it's sent to the locator.

[2016-04-20 20:40] steveoh commented on #23
this is fixed but not deployed.

[2016-04-20 22:36] steveoh commented on #22
this is fixed but not deployed yet. I had to update the assumptions on how secondary addresses are designed.

[2016-04-21 16:01] steveoh commented on #23
deployed.

[2016-04-21 16:01] #23 closed

[2016-04-21 16:01] steveoh commented on #22
deployed.

[2016-04-27 00:19] #19 closed

[2016-05-02 22:39] steveoh commented on #1
fixed in 1.6.0

[2016-05-02 22:39] #1 closed

[2016-05-03 17:32] steveoh commented on #7
this is already implemented.

[2016-05-03 17:32] #7 closed

[2016-05-03 17:52] #5 closed

[2016-05-03 22:11] #6 closed

[2016-05-03 22:28] steveoh commented on #24
I think this has been resolved. We an reopen if not.

[2016-05-03 22:28] #24 closed

[2016-05-09 18:35] stdavis opened #25 "Route Milepost Output Spatial Reference"
I get

[code]

returned from this request: http://api.mapserv.utah.gov/api/v1/geocode/milepost/15/5?spatialReference=3857&apiKey=AGRC-ApiExplorer

It returns successfully when I remove the `spatialReference` parameter.

[2016-06-30 21:05] stdavis opened #26 "Reverse Geocode with spatialReference 3857 yields no results"
When I submit a point in web mercator to the reverse geocode service I get no results.

For example:
x: -12449589.63970003
y: 4965953.392828723
distance=50
spatialReference=3857

yields

[code]

whereas the same point in utm works:

x: 429309
y: 4504098
distance: 50
spatialReference: 26912

[code]

[2016-06-30 21:10] steveoh commented on #26
Good catch.

I am sending the wkid (3857) to the locator, but the locator is still expecting the input location to be 26912.

[2016-07-05 20:42] #26 closed

[2016-07-07 13:33] stdavis commented on #26
Thanks!

[2016-07-22 16:08] sterlingpetersen opened #27 "Resolve Point vs. Pointe"
This address fails to geocode, because the street name lacks the 'e' at the end: point vs. pointe.

Fails:
http://api.mapserv.utah.gov/api/v1/geocode/5974%20FASHION%20POINT%20DR/84403?apiKey=

Works:
http://api.mapserv.utah.gov/api/v1/geocode/5974%20FASHION%20POINTE%20DR/84403?apiKey=

This issue pops up about 30 times in Utah [NPPES](http://download.cms.gov/nppes/NPI_Files.html) addresses, but as

[2016-07-22 16:42] sterlingpetersen commented on #22
This address with a suite number fails:

http://api.mapserv.utah.gov/api/v1/geocode/1490%20E%20FOREMASTER%20DR%20STE%20150/SAINT%20GEORGE?apiKey=

Works without the suite:

http://api.mapserv.utah.gov/api/v1/geocode/1490%20E%20FOREMASTER%20DR/SAINT%20GEORGE?apiKey=

[2016-07-22 17:01] sterlingpetersen commented on #27
Similar issue with 'twn' and 'twne':

Fails:
http://api.mapserv.utah.gov/api/v1/geocode/1551%20S%20RENAISSANCE%20TWN%20DR%20SUITE%20420/Bountiful?apiKey=

Works:
http://api.mapserv.utah.gov/api/v1/geocode/1551%20S%20RENAISSANCE%20TWNE%20DR%20SUITE%20420/Bountiful?apiKey=

[2016-07-22 19:38] steveoh commented on #22
Thanks for the report. Ill have to check what is up a little close next week. I would assume this should work because we check for suites https://github.com/agrc/api.mapserv.utah.gov/blob/master/WebAPI.API/App_Start/CacheConfig.cs#L184

[2016-07-25 23:10] steveoh commented on #27
I think these issues boil down to our base address data. We have "FASHION POINTE" and "RENAISSANCE TOWNE" as the street names for these. That is why they are not found and why the misspelling costs so much with the geocode score. We are not modifying the abbreviations in street name values. We are only expanding road types and removing unit types.

I can ask @gregbunce to validate that these road

[2016-07-26 00:18] #22 closed

[2016-07-26 17:27] gregbunce commented on #27
Yes, there does seem to be some discrepancy between Google and Weber County's data.  I checked Weber's data for points (address) and streets and both datasets use "Pointe" in the name.  In this situation, I'm inclined to stick with Weber County's data and advise you to use "Pointe" when geocoding addresses on this street segment.
Also, as far as Renaissance.. the City of Bountiful uses "Towne" in

[2016-07-28 14:34] stdavis opened #28 "attributeStyle option for search method is missing in api explorer"
http://api.mapserv.utah.gov/#search

Here's what I have in the [`WebAPI.js` docs](https://github.com/agrc/agrc.widgets/blob/de07d1cc00d27e08fc905d0062f5a023a05905a4/modules/WebAPI.js#L71-L78):

[code]

[2016-07-28 16:57] stdavis opened #29 "attributeStyle option in search service is not working"
I would expect this request to return a "Name" field: http://api.mapserv.utah.gov/api/v1/search/SGID10.LOCATION.ZoomLocations/Name?predicate=UPPER(Name)%20LIKE%20UPPER(%27utah%25%27)&apiKey=AGRC-ApiExplorer&attributeStyle=identical

But it returns "NAME".

[2016-07-28 20:49] steveoh commented on #28
We chose to leave this undocumented since in version two identical is going to be the default option. We introduced these other options because camel case, the default, was messing up on acronyms.

[2016-07-28 20:49] #28 closed

[2016-07-28 23:01] #29 closed

[2016-07-29 16:25] stdavis commented on #29
Thanks!

[2016-09-06 19:31] BGranberg commented on #3
With the exception of deliver point zip codes (like 84114). POBox numbers are at the location of the post office box that is assigned the same 5 digit zip code. Once you take out the delivery point zip codes, Zipcode to Post Office is often 1:1 but should always be M:1

[2016-09-06 19:32] BGranberg commented on #3
for example

PO Box xxxx
Salt Lake City UT 84105

should match to the Sugarhouse post office

[2016-09-07 21:30] steveoh commented on #3
@BGranberg I've added the post office zip codes to the zipcodestopobox locations. These are the items from the zipcode polygons that are not covered by the prior two feature classes. We will need to add them as corrections to existing post office locations or ignore them.

`82930,84739,84102,84103,84104,84105,83342,84111,84112,84113,84119,84123,84124,84766,84128,84002,84004,84005,84008,84009,84781

[2016-09-23 17:25] stdavis opened #30 "Add support for format & spatialReference options to /geocode/multiple"
This would make me :).

[2016-10-07 20:26] stdavis opened #31 "Docker Container"
Would it be possible to create a docker container for this project? I'd like to get my hands dirty and give #30 a try. Wondering if it's worth trying to set up this on my VM or if docker would be feasible.

[2016-10-07 22:41] steveoh commented on #31
I think they're is an aspnet 5 container. You might be able to make it happen. That'd be pretty awesome.

[2016-10-19 22:47] JustinBerger opened #32 "Add flag for multiple matches to /geocode/multiple for detecting low quality addresses."
When running `/geocode` low quality addresses will return multiple matches with similar scores. However, when running with `/geocode/multiple` it becomes impossible to tell that an address is low quality. If we had some way to know that there were multiple 'good' matches, we could then flag those for later processing using the non-batched `/geocode`.
For example: `201 main street` and `SLC` (with

[2016-10-19 23:31] steveoh commented on #32
Thanks, I will consider this!

It was a directed decision to not show candidates when doing multiple geocodes for payload size etc. What decisions would you make from knowing that there were multiple candidates?

I ask because the example you give is an invalid address - It's missing a direction. Because of that you are getting addresses on both sides of the north temple. Based on your input, ther

[2016-10-25 22:18] JustinBerger commented on #32
Yeah. I figured the output was intentionally simplified.

The biggest thing I would like to do with the enhancement is use it to _detect_ invalid addresses. It is nearly impossible to detect invalid addresses using sql (too many exceptions to the rules), so if we ran into a record with multiple possible geocodes, we can mark them for manual processing. I don't want to use the single geocode for th

[2016-10-25 22:52] steveoh commented on #32
I think **every** geocode will **always** have `candidates` if you ask for them. I would suggest doing multiple iterations over the data. Possible starting with the `acceptScore` set to `100` to pull out the good addresses. Then with the remaining that didn't match, lower the `acceptScore`. Anything under say, `95` would need inspection.

I'm not sure that a `multipleDetected` would be helpful giv

[2016-10-26 14:30] JustinBerger commented on #32
True. I had been thinking along the lines of the candidates also matching the `acceptScore`, but I really like your `delta `idea better. Knowing that the 1st and 2nd place records are `maxDelta = 5` apart gives a lot of flexibility to make better decisions about the matches.

If I was doing processing with `acceptScore = 90` and ran into an `89.9` and a `90.1`, i would never know about the lower s

[2016-10-26 15:02] steveoh commented on #32
`acceptScore` only works on the **match address** and does not filter the `candidates`. Let's consider moving forward with the delta as this could go into a 1.x release. Modifying the `acceptScore` and `candidates` would be considered a breaking change.

[2016-10-26 15:07] steveoh opened #33 "acceptScore should filter candidates"
It appears to be what people expect.

refs #32

[2016-10-26 15:15] steveoh opened #34 "calculate difference between match and best candidate"
When someone geocodes with `difference` on and `suggest` off, request one candidate. Calculate the difference between scores of the top two results and tack it on to the geocode response.
1. [x] Add boolean property to single/multiple geocodes to include `difference`. Defaults to `false`
2. [ ] Update api testing docs to include `difference` with a description.
3. [x] Provide the `difference` prop

[2016-10-26 15:15] #32 closed

[2016-11-01 15:33] #27 closed

[2016-11-01 15:35] steveoh opened #35 "search missing callback property"
![image](https://cloud.githubusercontent.com/assets/325813/19895439/6a827b08-a016-11e6-87d8-057ef3e3f6d2.png)

It supports jsonp but doesn't have the doc property.

[2016-11-04 00:37] #35 closed

[2016-11-08 01:30] steveoh commented on #25
i believe this is fixed. Please verify and act.

[2016-11-08 15:13] stdavis commented on #25
Looks good! Thanks.

[2016-11-08 15:13] #25 closed

[2016-11-10 00:24] #18 closed

[2016-11-10 00:25] steveoh opened #36 "Admin analytics"
Improve admin analytics

- [ ] endpoint request counts
- [ ] endpoint request counts by user
- [ ] sgid layers searched
- [ ] requests per month
- [ ] requests per day
  - client.set(key, value, 'EX', 60 * 60 * 24); expire requests monthly
- [x] total requests per user

[2016-11-17 14:13] stdavis opened #37 "What's the offset for /geocode/multiple"
I had someone ask me this question and I didn't find it right away in the code. We should probably add it to the docs as well.

[2016-11-17 15:44] steveoh commented on #37
It's 10 meters I think for the centerline as it is a locater property. It should be in the wiki under offset.

[2016-11-17 16:10] stdavis commented on #37
Looks like it's 15...
![image](https://cloud.githubusercontent.com/assets/1326248/20397094/b1897c4a-aca5-11e6-8759-27fbbcbea78e.png)

[2016-11-21 20:57] #37 closed

[2016-12-06 14:53] stdavis opened #40 "Passing search string (not entire where clause) to predicate in search service fails"
For example:
https://api.mapserv.utah.gov/api/v1/search/SGID10.BOUNDARIES.Counties/NAME?predicate=salt&apiKey=AGRC-Explorer

Returns:
[code]

whereas:
https://api.mapserv.utah.gov/api/v1/search/SGID10.BOUNDARIES.Counties/NAME?predicate=NAME+LIKE+'salt%25'&apiKey=AGRC-Explorer

returns the expected feature

[code]

The docs

read to me as if these two requests should return the same results.

[2016-12-06 15:11] steveoh commented on #40
Can you really set a where clause to salt in arc objects and it will work?

[2016-12-06 15:24] stdavis commented on #40
No. Maybe we just need to clarify the docs. I read

to mean that if you just passed a string then it will automatically create an expression using the NAME field. Probably just my bad reading but I did get an email from Lee Eschler this morning asking about it and he was doing the same thing. The error message saying that the feature class probably doesn't exist doesn't help either.

Maybe the doc

[2016-12-06 15:27] steveoh commented on #40
Clarifying the doc sounds great. Do you want to take a stab at it and I'll look into the error message?

[2016-12-15 13:38] stdavis commented on #40
Closed with #41

[2016-12-15 13:38] #40 closed

[2016-12-15 13:43] stdavis opened #42 "Add bounding box as a geometry option for the search service"
Currently the `geometry` parameter supports only points. Expand this to support bounding boxes and possibly polygons.

There should be some way to prevent users from making requests that would overwhelm the server. I would suggest a feature limit (with some sort of warning in the returned data) rather than a limit on area (which is dependent upon the distribution of the data being queried).

[2016-12-29 00:53] #20 closed

[2016-12-30 02:23] #4 closed

[2017-01-06 01:05] steveoh opened #43 "Privacy Policy"
Add this privacy policy

[2017-01-30 16:33] gregbunce opened #44 "Issue with some Street Types on API geocoder requests"
I'm not sure that this is an across-the-board issue but for the below-stated addresses, they will not code when supplying the street type.  If you remove the street type they code, but when you look at the segment/point they matched on that segment/point contains the street type.
- 9211 N Pebble Creek Loop, Eagle Mountain 84005
- 5811 W Park West Rd, Provo 84003

[2017-01-30 16:44] steveoh commented on #44
Both addresses geocode with the native locators in arcgis server. This is an issue in the api.

[2017-03-20 19:07] steveoh commented on #44
I think if the direction is before the street type and the value before the direction is non numeric then we can assume that it is a part of the street name and not a suffix direction.

These addresses are also affected and will be good test case candidates.
![image](https://cloud.githubusercontent.com/assets/325813/24116957/ffe84cc6-0d6d-11e7-8afd-c2823e3944ab.png)

[2017-03-21 01:09] #44 closed

[2017-04-25 20:08] steveoh opened #45 "Quality Control Geocode Issues"
### Missing 33 S Haulage in Eureka in the address points

![image](https://cloud.githubusercontent.com/assets/325813/25405437/818b749c-29c0-11e7-9a7a-2c128d1e404b.png)

![image](https://cloud.githubusercontent.com/assets/325813/25405443/8cb7cb9a-29c0-11e7-9c1f-1f2c58c0fb42.png)

### Address range on 6639 W 3000 S, Roosevelt has some funky ranges.

Geocoding on that address with the ACSALIAS gives

[2017-04-25 23:38] steveoh opened #46 "Should we strip unit numbers"
Some address points seem to carry the unit #. The api strips it. We might get more accurate matches on unit numbers if we either don't strip them or geocode them with and without for address points only.

![image](https://cloud.githubusercontent.com/assets/325813/25411982/262fddaa-29dd-11e7-8347-46a4ee986d86.png)

[2017-04-26 20:48] #34 closed

[2017-05-09 22:10] steveoh opened #48 "result object returned on no geocode match"
[code]

vs

[code]

The latter is the right response. This is probably related to #47

[2017-05-10 22:14] #36 closed

[2017-05-10 22:34] #48 closed

[2017-05-22 15:52] #43 closed

[2017-05-22 15:53] steveoh opened #49 "arcgis online api key"
make this a first class citizen

[2017-05-25 16:43] gregbunce commented on #45
good catch on the W 3000 S (SR 87) road segment.   Agreed, the ranges were funky.  I fixed them in UTRANS and they will be visible in the SGID roads after the next road update push (sometime in early June).  thanks for the feedback.  Zach is taking care of the 33 S Haulage in Eureka issue (adding the point).

[2017-05-25 16:59] ZachBeck commented on #45
There is a 33 S Haulage point in the address points already, however, it's 150 meters south of the QC point you show above in red.
![33haulage](https://cloud.githubusercontent.com/assets/9662993/26461095/1819c7bc-4139-11e7-94a5-fb87dfff473f.jpg)

[2017-05-25 18:56] steveoh commented on #45
Ok I will update the QC points. I suppose they weren't very well QC'd.

[2017-06-07 20:56] #42 closed

[2017-06-07 21:01] steveoh commented on #42
@rschoenefeld will you test this out and let me know how it goes for you?

[2017-06-07 22:03] steveoh opened #50 "buffer breaks new geometry query"
`THE POINT USED TO DO THE QUERY IS FOULED UP. CHECK THE SYNTAX POINT:[X,Y]"`

- [x] Also double check that the predicate is applied.

[2017-06-07 22:38] steveoh commented on #50
turns out envelope's can't be casted to topological operators and therefore cannot be buffered.

[2017-06-07 23:59] #50 closed

[2017-06-08 13:22] rschoenefeld commented on #50
Okay, makes sense. I'll use the envelope without a buffer then. Thank you.

[2017-06-08 13:24] steveoh commented on #50
I updated the code to make envelopes polygons so buffer away my friend.

[2017-06-08 13:51] rschoenefeld commented on #50
Yes, this works now. Thank you.

[2017-06-12 23:47] BGranberg opened #51 "Midvale SLC Avenues"
If the address looks like midvale (zip or city) add a W if there's no prefix dir

If the address looks like Salt lake City (zip or city) add a E if there's no prefix dir (OR this could just be the default)

[2017-06-13 22:00] gregbunce opened #52 "Wing Pointe Dr"
"Wing Pointe" Dr will not geocode in the api geocoders as "Wing Point" Dr
sample (real world) address that codes: 3501 S Wing Pointe Dr Salt Lake City
sample (not real world) address that does not code: 3501 S Wing Point Dr Salt Lake City

[2017-06-13 22:11] steveoh commented on #52
this is an invalid address and should not geocode. Thank you for the heads up!

[2017-06-13 23:32] steveoh commented on #52
@BGranberg would like to create an exception for this in the alias table without the `e` as a common misspelling.

[2017-06-14 01:25] steveoh commented on #51
@BGranberg

midvale and 84047 address like

369 2nd ave
369 second ave
369 two ave

will now geocode.

I'll fool on the slc avenues tomorrow.

[2017-06-14 20:07] #51 closed

[2017-06-14 20:09] steveoh opened #53 "Update QC addresses"
Add
- [x] slc and midvale avenue address
- [x] https://github.com/agrc/api.mapserv.utah.gov/issues/45

[2017-06-14 20:11] steveoh commented on #14
This is in progress with https://github.com/agrc/RoadGrinder.

We still need to build the locators from the output and test them and build the alternate names table for address points.

[2017-06-14 22:20] #53 closed

[2017-06-14 23:58] steveoh commented on #45
@gregbunce it doesn't appear that the roosevelt address has gone into sgid yet. Is that true or is it still an issue?

[2017-06-15 15:10] gregbunce commented on #45
It's fixed in UTRANS (back on May 25th).  It will be visible in SGID Roads on the next roads update - sometime next week.  My edits on those segments just missed the May roads update.  thanks for checking on it!

[2017-06-21 17:27] keatonwalker opened #54 "City aliases"
I had 4,000 cases of **S Salt Lake** being used instead of **South Salt Lake** and it prevented matching. Should we have and alias for **S Salt Lake**?

[2017-06-21 17:28] steveoh commented on #54
yes we should.

[2017-06-21 17:32] steveoh commented on #54
[code]

@BGranberg do you think we should abbreviate S for all of the souths and other directions in city names?

eg:

[code]

[2017-06-21 17:44] BGranberg commented on #54
yes, unless anyone can think of a negative consequence. i cannot.

btw West Warren should be spelled with two R's

On Wed, Jun 21, 2017 at 11:32 AM, steveoh <notifications@github.com> wrote:

--
Bert Granberg, Director
Utah Automated Geographic Reference Center (AGRC)
1 State Office Building, Rm 5130
Salt Lake City, UT 84114
bgranberg@utah.gov
801 538-3163 (o)
801 558 3563 (m)

[2017-06-22 19:35] blssd2011 opened #55 "Tax ID numbers"
The older system was so easy to use for us and very useful.  With the recent change I cannot find/figure out if we are still able to find property by tax ID numbers.  I can search the address and the map takes me to the desired location but am not able to find the TaxID.
Please help

[2017-06-22 19:57] steveoh commented on #55
What map are you talking about @blssd2011 and what recent changes? Please reply with a link.

This api hasn't changed for a few years. I'm wondering if you are referencing a different resource.

We will get this sorted out once you clarify a few things. Thanks for reaching out.

[2017-06-23 14:23] blssd2011 commented on #55
I guess after clicking on a few things it had led me to this website.  the following is the site that I have been on for years and they have changed recently and is more difficult; http://raster.utah.gov/  .

[2017-06-23 14:26] steveoh commented on #55
@stdavis will you move this conversation to the raster repo and address the concerns please.

[2017-06-23 16:06] stdavis commented on #55
Hey @blssd2011. Thanks for reaching out. http://raster.utah.gov hasn't had any major changes in several years and has never had info on tax ID numbers.

Perhaps you are looking for this site: http://parcels.utah.gov/ ? You should be able to search by address and then click on the parcel to get the tax ID number. Let me know if that works for you.

[2017-06-28 21:18] steveoh commented on #55
I am going to close this since it is out of the scope of the api.mapserv.utah.gov project. Please open a new issue in the repository of the project you are having issues with. Hopefully scotts comments will help you find tax id numbers. Otherwise we are guessing at where the issue is.

[2017-06-28 21:18] #55 closed

[2017-06-29 22:05] steveoh commented on #54
fixed in v1.8.3

[2017-06-29 22:05] #54 closed

[2017-08-14 21:53] keatonwalker opened #56 "Spaces in St George"
More than 1 space between **St** and **George** will prevent matching.

Matched example: 1224 WILLOW DR ST GEORGE
Unmatched example: 1224 WILLOW DR ST  GEORGE

Preferably everyone would use the correct number of spaces so this may or may not warrant a fix.

[2017-08-15 17:22] steveoh commented on #56
good call. I can trim those one way or another

[2017-08-15 19:13] stdavis opened #57 "Add "Notes" field to keys"
It would be cool to be able to add some notes associated with a key to help me keep everything straight.

[2017-08-25 00:44] steveoh commented on #14
added in v1.9.0

[2017-08-25 00:44] #14 closed

[2017-09-07 00:36] #56 closed

[2017-09-07 00:37] steveoh commented on #52
@gregbunce can you look into a way of adding exceptions to the roadgrinder project and add this one. I will assign this to you for now. Thanks!

[2017-09-07 00:38] steveoh commented on #45
Is the roosevelt change in SGID now @gregbunce?

[2017-09-07 00:39] steveoh commented on #13
@BGranberg 📲

[2017-09-07 00:45] steveoh commented on #3
Is this something you could check out @gregbunce in all of your free time?

[2017-09-07 15:38] gregbunce commented on #45
@steveoh yup, I just verified, it's in SGID.  Close it out, baby!

[2017-09-07 15:39] #45 closed

[2017-09-07 15:43] gregbunce commented on #52
@steveoh certainly.  i can see possibly needing this option for other roads as well.  i'll check it out.

[2017-09-07 15:49] gregbunce commented on #3
@steveoh i put it on my kanban.  maybe you can give me an overview next week?

[2017-09-14 23:21] steveoh opened #58 "Email trucation"
originally from @XiozTzu at https://github.com/agrc/gis.utah.gov/issues/614

## Issue description
Cannot get Geocoder API key because the account set up text box cuts off my email address at 30 characters.  My email address is 35 characters long!

#### What page is the problem visible
 https://developer.mapserv.utah.gov/AccountAccess

#### Expected result
To be able to get an API key.

#### Actual

[2017-09-14 23:22] steveoh commented on #58
The issue is [this arbitrary length](https://github.com/agrc/api.mapserv.utah.gov/blob/master/WebAPI.Dashboard/Views/AccountAccess/Index.cshtml#L85) setting.

[2017-09-14 23:36] #58 closed

[2017-09-21 16:45] steveoh opened #59 "650 S Flora Tech Rd, 84737 not being found"
@d-how says

Describe the problem you are having
We have the address 650 S Flora Tech Rd, 84737 and I found the API does not resolve the address correctly. The API returns a not found message. However, it does find 650 S Flora Tec Rd
, 84737 (Tech vs Tec). the street is actually Flora Tech not Flora Tec.

[2017-09-21 16:47] steveoh commented on #59
@ZachBeck and @gregbunce would you check on the spelling of this address in the source data.

[2017-09-21 16:55] steveoh commented on #59
I noticed that a road `650 S Flora Tech Rd` will not be found completely when the source data has the road as `Flora Tec`. I can misspell `Tec` and `Flora` other ways eg: `Florah Tec`, `Flora Tecs` and _still_ get a match with a lower score, but adding the `h` to `Tech` makes it not match at all. What gives?

This is not api logic, this is source data and locator logic.

[2017-09-21 17:21] steveoh commented on #59
I can verify that it is indeed spelled wrong in the `roads` data.
![image](https://user-images.githubusercontent.com/325813/30709094-446d3bb8-9ebe-11e7-9ae6-99ac4d043d28.png)

We only have one `Flora Tech` address point along that segment.
![image](https://user-images.githubusercontent.com/325813/30709138-697cdce2-9ebe-11e7-8990-ac2bd827ca99.png)

[2017-10-03 21:48] gregbunce commented on #59
Cool, yo.  I fixed it in the UTRANS roads data.  There were two segments that got updated.  This change will trickle through the system and be visible to all during the next roads update (mid to late Oct.).  If needed, I can force the change sooner (in SGID and RoadGrinder datasets), though I'd prefer not to.

I don't have edit access to address points so - @ZachBeck can you update that address wh

[2017-10-03 22:02] ZachBeck commented on #59
County fixed the road name on the address point on their end.

[2017-10-03 22:03] #59 closed

[2017-10-03 22:22] gregbunce commented on #52
Done.  I added "Wing Point" as an Alias name for the street "Wing Pointe".  Next time we run the RoadGrinder (mid to late Oct) it will pick up this update and add that alias to the RoadGrinder's altnames table for those 6 segments.  Addresses on those streets will then geocode with "Wing Point" or "Wing Pointe".  I made this alternate name change in the reference data, as it seems best suited ther

[2017-10-03 22:23] #52 closed

[2017-11-22 16:32] steveoh commented on #3
(A little audio bite description)[https://drive.google.com/open?id=1aMJQIg9y4W7EZlEuC9k-zsNmKxK9E2LQ]

[2017-11-22 16:37] gregbunce commented on #3
Wowsus, nothing like the soothing sound of Bertrand to start off my
morning.  Thanks.  I'll process that.

On Wed, Nov 22, 2017 at 9:32 AM, steveoh <notifications@github.com> wrote:

--
Greg Bunce
Utah AGRC <http://gis.utah.gov/>
801.349.0039
gbunce@utah.gov

[2018-01-04 22:46] stdavis opened #60 "Elevation Service"
I need a service that will give me data to make an elevation chart like this:
![image](https://user-images.githubusercontent.com/1326248/34587639-6035060a-f166-11e7-99aa-06bfe7e53db4.png)
for recreation.utah.gov.

I have been using a [service from Mapzen](https://mapzen.com/documentation/elevation/) but they are shutting it down on Feb 1st.

I know that @keatonwalker has code for building this typ

[2018-01-04 22:49] steveoh commented on #60
This would be built with c# arcobjects code. I'd love to hear @keatonwalker's opinions and I think this could be a cool addition to the web api. It's a bit specific and probably a bit processor intensive but pretty worthy none the less.

[2018-01-04 22:54] stdavis commented on #60
Ya, I could see uses for roads as well.

I forgot to add that I'm working in a non-Esri environment so geojson or the [fancy google polyline encoding](https://developers.google.com/maps/documentation/utilities/polylinealgorithm) would be best for me.

[2018-02-07 15:40] stdavis commented on #60
I'm fine with a generic data type as well (similar to the point in the search api).

What do you need from me to get started on this? Would you like me to take a stab at defining the signature for this service?

[2018-02-07 15:41] steveoh commented on #60
Sure that would be great

[2018-02-07 17:54] keatonwalker commented on #60
Some of the longer trails could hit url limits if all the coordinates are listed in a get request. I could check the limits out further if we plan to use get as our method.

[2018-02-07 17:56] steveoh commented on #60
this is definitely a post endpoint

[2018-02-07 17:57] steveoh commented on #60
We should create a cache strategy as well since most requests will be duplicates

[2018-02-08 02:16] steveoh commented on #3
imlemented in v1.9.1 ✨ 🎉

[2018-02-08 02:16] #3 closed

[2018-02-12 22:11] steveoh opened #61 "Gracefully handle integer overflows"
people are trying to geocode phone numbers which are too big for int32. Handle that.

[2018-02-26 20:21] stdavis commented on #60
I ended up [pre-generating the elevation profile data in the data for this app](https://github.com/agrc/TrailsAddin/blob/0a6a1ca8efabfd42d72112b25c69d7e4821969fe/ProProject/RoutesToolbox.pyt#L294-L315) so I no longer need this service. Not sure if you want to leave this open or not.

[2018-02-26 20:43] steveoh commented on #60
Cool so you made a python tool or something to generate the elevations?

[2018-02-26 20:43] #60 closed

[2018-03-23 03:28] steveoh opened #62 "underscores in addresses"
replace all `_` with ` `. People are geocoding addresses like `100_NORTH_348_EAST`

[2018-03-23 12:52] stdavis commented on #62
Verified that "_" does **not** show up in the roads or address point data:
![image](https://user-images.githubusercontent.com/1326248/37829977-a68c0a12-2e66-11e8-8a16-99d16ef36867.png)
![image](https://user-images.githubusercontent.com/1326248/37829999-bf019f62-2e66-11e8-9e8e-25f5dfe0866f.png)

[2018-03-27 01:21] #62 closed

[2018-03-27 01:25] steveoh opened #63 "Neola"
It appears we are missing a place called [Neola](https://en.wikipedia.org/wiki/Neola,_Utah).

Add that to the city place names so that it will geocode

[2018-03-27 17:32] gregbunce commented on #63
It's in the table.  This can be closed.

[2018-03-27 17:32] #63 closed

[2018-04-23 16:10] joshgroeneveld opened #64 "250 S Broadway, 84525 geocoding error"
The Amtrak station in Green River gets misplaced on the geocoding API.  According to Amtrak, the address is `250 S Broadway, 84525` (this shows up the same in Google Maps).  _When I run this through the geocoding API, it gets translated to `250 N Broadway` that is several blocks away._

`http://api.mapserv.utah.gov/api/v1/geocode/250 S Broadway/84525?spatialReference=3857&format=geojson&apiKey=AGR

[2018-04-23 18:12] steveoh commented on #64
I will close this for now, but after the next roads update let's check this. Greg can this be on the list of "new" addresses to check after the next roads update?

[2018-04-23 18:12] #64 closed

[2018-04-27 21:44] stdavis commented on #1
Are there any docs on how to use this functionality? Tom from DOGM is asking how to use our geocoder in AGOL web maps.

[2018-04-29 15:52] steveoh commented on #1
No. This was a hack to make it work. https://github.com/agrc/api.mapserv.utah.gov/issues/49 Will make it work for others

[2018-04-30 13:30] Tommyt43825 commented on #49
I am looking forward to seeing if this is possible.   The ESRI World Geocoder is what I am currently using but it sure would be nice to have a geocoder just for the state of Utah to narrow the search results. Thanks and I will be following this thread.

[2018-04-30 20:56] steveoh commented on #49
I researched this a bit this morning and started coding a solution when I realized that esri has modified the way arcgis.com address locating worked. The changes broke our existing geocoding solution and it doesn't appear that there is an acceptable work around.

[2018-05-31 17:09] gregbunce commented on #64
Just a follow-up, this address now codes.

[2018-06-12 22:49] stdavis opened #65 "State Street (Draper) vs. State Rd (Provo)"
This was reported by Harold as observed in enviro.deq.utah.gov.

Input Address: 12241 south state street, draper
Matched in Draper as expected.

Input Address: 12241 south state, draper
Matched in Provo address grid as "12241 S STATE RD, Provo".
Not sure if this is expected or not. I would think that the specifying of the city "draper" would add preference for state street in draper, rather than s

[2018-06-21 16:11] sitlaBarry opened #66 "Can create api key before confirming account"
Kate (katestaley@utah.gov) created an account but didn't notice she was supposed to confirm her account.  She created an api key and started using it in her code, but was getting an error along the lines of "invalid api key," which makes sense since it was a non confirmed account.  It seems like you should get an error when you try to create a key without first confirming.

[2018-06-21 16:59] steveoh commented on #66
Thanks Barry!

This was a calculated decision. We want people to sign up, create keys, and get that out of the way without worrying about any account stuff. They will be more invested by the time they realize they need to do other stuff to continue.

The response [tells the user exactly what is wrong](https://github.com/agrc/api.mapserv.utah.gov/blob/master/WebAPI.API/Handlers/Delegating/Authorize

[2018-06-21 17:11] sitlaBarry commented on #66
You're right, the message is explicit (you guys should give ESRI some lessons,) but it would be good to be more clear up front. I think your solution would be perfect.

[2018-06-21 17:16] steveoh commented on #31
I don't think we are going to containerize this project. we are actively working on an aspnet core port of this project and that will be containerized. I am going to close this as it is possible to use containers with the next version of this project.

[2018-06-21 17:16] #31 closed

[2018-06-29 00:32] steveoh opened #67 "Switch to host instead of referrer"
referrer has been difficult for people. Discover switched to host so I think the api can as well. We will continue to support the referrer for old keys.

[2018-09-07 00:58] steveoh commented on #65
Place | System | Weight
-- | -- | --
DRAPER | PROVO | 0
PROVO | PROVO | 0

Draper and provo are both weighted the same in the provo grid.

It looks like one matches on state street and the other matches on state road highway 198. I wonder if that is a data error or just the way it is when you do not supply the street type and there are two state street names?

@gregbunce would you look into the 12

[2018-09-14 01:30] steveoh opened #71 "Update health checks"
Based on this project or by using this project... Not decided yet.

https://github.com/Xabaril/BeatPulse

[2018-09-14 02:22] steveoh opened #72 "Typed HttpClient"
Creating a [typed client](https://docs.microsoft.com/en-au/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1#typed-clients) for locators and the geometry service could simplify some string formatting url creation by using the `BaseAddress` property.

[2018-09-20 22:06] steveoh opened #73 "Hosted Services"
[Hosted Services](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-2.1) run in the background on an app. We could use this to sync sheets data?

[2018-10-10 23:07] steveoh opened #75 "update logger based on config changes"
using the [configuration](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.iconfiguration.getreloadtoken?view=aspnetcore-2.1#Microsoft_Extensions_Configuration_IConfiguration_GetReloadToken) reload token to get notified of changes and execute some code.

Similar to this
https://github.com/aspnet/Configuration/issues/509

[2018-10-18 03:12] steveoh opened #76 "upgrade to 2.2.0-preview3"
update to [preview3](https://blogs.msdn.microsoft.com/webdev/2018/10/17/asp-net-core-2-2-0-preview3-now-available/)

[2018-10-26 23:10] keatonwalker opened #77 "GKE load balancing health checks on path /"
[GKE has a convention](https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer#remarks) that pods should return HTTP 200 on `/` to be considered healthy.

Following this will make our lives easier on GCP.

[2018-10-29 16:25] steveoh opened #78 "postgresql enums in db"
pgsql understand the notion of enums. On the classes that use enums, create the values in the database to match.

For instance on the ApiKey model,

KeyStatus
ApplicationType
ApplicationStatus

Should not be string values in the database.

CREATE TYPE KeyStatus AS ENUM ('acceptable', 'values');

Will need to recreate `pgdata.sql` and `db` container.

[2018-10-29 16:28] #77 closed

[2018-10-29 16:29] steveoh commented on #71
I think we are good. I reviewed BeatPulse and our items look very similar.

[2018-10-29 16:29] #71 closed

[2018-11-06 01:08] steveoh commented on #65
ohhh @gregbunce... did you ever take a chance to look at this?

[2018-11-07 02:29] brigsz commented on #65
![statestreetslc](https://user-images.githubusercontent.com/6306463/48106802-4590ef00-e1fa-11e8-9dc5-e7d201cc6a13.png)
![highway198v2](https://user-images.githubusercontent.com/6306463/48106808-49247600-e1fa-11e8-84ad-a9c595062986.png)

[2018-11-07 21:30] gregbunce commented on #65
Ok, so this is a good one.  There is a "State Rd" in the Provo grid, so that address, itself, is valid.  However, Draper is not in the Provo address system (grid).  I can see why it may have made it into the address system-placename spreadsheet as Draper shares a southern boundary with the Provo grid.  Yet, giving it a value of "0" is a surprise to me.

My thought is that we remove Draper from the

[2018-11-07 21:32] steveoh commented on #65
@bertgranberg do you have any input on the draper provo grids?

[2018-11-07 23:16] bertgranberg commented on #65
Very little input. But what Greg says seems to, somewhat inexplicably, make some sense. There are numerous 160xx house numbers on the utah county side of suncrest in draper.

I would hope that there is no road centerline with a name or alias of: state road highway 198

[2018-11-07 23:29] steveoh commented on #65
Thanks @bertgranberg. @gregbunce will you verify bert's suggestion and then I am on board with updating that grid.

[2018-11-07 23:52] gregbunce commented on #65
Yup, @bertgranberg is correct there are some addresses (houses) along suncrest on the utah county side, in the provo grid - but no centerlines or addresses with highway 198.

Bottom line, logically, we're good to remove that row in the above-mentioned spreadsheet.

@steveoh will removing a row cause any issues for you?  I suppose the other option is to give draper, in the provo grid, a lower (aka:

[2018-11-07 23:54] steveoh commented on #65
No it won't. The web api will pick it up when the api recycles next. Go ahead and nuke that row. If you don't have access to close this issue let me know and I will do it once you're done. Thanks everyone!

[2018-11-07 23:57] bertgranberg commented on #65
I think the addresses on the south side of suncrest are actually in the SLC
grid, not the provo grid??

On Wed, Nov 7, 2018 at 4:54 PM steveoh <notifications@github.com> wrote:

--

----
Bertrand Granberg
bert.granberg@gmail.com

[2018-11-08 00:00] gregbunce commented on #65
@bertgranberg true.  but, we're good to go for the spreadsheet update.  thanks!

[2018-11-08 00:01] gregbunce commented on #65
the record/row has been removed.
@steveoh looks like you'll need to close it.  thanks!

[2018-11-08 00:02] #65 closed

[2018-11-08 17:20] stdavis commented on #65
@hsandbeck FYI - These addresses now match correctly in enviro.deq.utah.gov.

[2018-11-09 06:34] steveoh opened #80 "cors headers on failed requests"
While using the javascript fetch api with the web api, it appears if you make a request that fails authorization, the cors handler is not invoked. The response will be missing the access-control-allow-origin header. This does not allow the fetch api to access the payload and read the json error message.

I think this is a bug in the api but i am not 100% sure yet. I am surprised no one has ever hi

[2018-12-19 03:36] steveoh opened #81 "Determine v1 vs v2 differences"
In order to make v1 and v2 run on the same infrastructure, the codebase needs to handle the nuances of the v1 codebase and the enhancements of v2. I did not do a good job listing the differences in development so far so now we need to play catch up.

here is a running list of items

### Geocoding

#### Single

- [x] Candidates are not filtered by accept score

#### Reverse

- [x] Reverse geocoding

[2019-01-17 00:41] steveoh opened #82 "zone input validation error"
zip code input of `Zone: .....` is cashing the application to crash. create a test and cleanse this input type.

[2019-01-22 05:12] clancyblack opened #83 ""Route and Milepost" API should use Full Route Name, currently returns incorrect result"
The Route and Milepost API should require the Full Route Name. Currently it seems to return the first matching route name, including ramps.

To reproduce:
Enter Route=0015P, milepost=1.1, side=(any). This will return a result on a collector ramp in Salt Lake County. The Full Route Name of this collector ramp is actually 0015PC######. If you change the input milepost to 1.9 it now returns a result

[2019-01-22 05:20] clancyblack opened #84 "Feature Request for "Reverse Route and Milepost" API"
We are using the "Reverse Route and Milepost" API for a UDOT application for project planning and program management. As part of this we are using this API to allow users to drop a pin and have forms automatically fill in the route/milepoint for them. This is an issue when the location is an intersection because the API returns the nearest result, often giving the user a route they weren't expecti

[2019-01-22 17:03] clancyblack commented on #84
That would be great, yes let me know how I can help.

[2019-01-22 17:11] clancyblack commented on #83
The most precise method would be to use the full route name for the "route" input. That would eliminate the need for the "side" input as well.

The full route name is 4 digits (with leading zeros) plus a P or N for highways. The P (increasing) and the N (descreasing) give the "side" info that is currently asked for separately.

Ramps and collectors also have a R or C for Ramp or Collector, followe

[2019-01-23 05:46] steveoh commented on #83
The most precise method sounds ok. Unfortunately, it would be a breaking change to v1 clients and cannot be done -- even though it _could_ be returning incorrect/unexpected results. Although, after writing that, I may change my mind. I'll need to talk to some others in the office to get their opinions. 🤔

What we can certainly do in a v1 enhancement, is add more properties to the request to make t

[2019-01-23 06:18] clancyblack commented on #83
That all makes total sense, sorry if my explanation was overwhelming, just wanted to give you all the details. I totally get that we have to keep v1 working as-is.

You're right, we can include/exclude ramps/collectors but the existing version would still potentially give an unexpected result. In general the ideas you suggest would work I think. I provide another suggestion below.

What if there w

[2019-01-29 01:58] steveoh commented on #83
I think that is a decent compromise. I am still uncertain what that v2 signature will look like, but I think this could work for v1.

[2019-01-31 02:08] steveoh opened #85 "Replace Linear Referencing ArcObjects"
To remove SDE with MSSQL and some ArcObjects we need to test out how the linear referencing methods are in PostGIS.

## Route and Milepost

We could use [ST_LocateAlong](http://postgis.net/docs/manual-2.5/ST_LocateAlong.html) to get the coordinates for a certain route and m value.

## Reverse Route and Milepost

We could use [ST_InterpolatePoint](http://postgis.net/docs/manual-2.5/ST_InterpolatePo

[2019-01-31 16:54] steveoh opened #86 "635 West 6400 South"
## Problem

635 West 6400 South is a house address which was renamed to Winchester Street.

## Origin

we do have an alias for Winchester but it's for 6500 S.  The odd thing, is that Winchester changes alias names right about where that address is located.  It goes from '6400 S' to '6500 S'. Refer to the photo below, you will see the yellow vs green. The address in question is the green dot.

![im

[2019-01-31 16:56] steveoh commented on #86
Bart LeCheminant in the addressing dept over at SLCo says it's `6500 S` there - due to the diagonal. He says they use a mean average on those diagonals so it's rough, but that's the official alias there. He also said it's best to use primary mailing address on a diagonal street, and avoid the alias.

[2019-01-31 16:57] #86 closed

[2019-02-05 01:34] steveoh commented on #84
@clancyblack I've started to implement something for this. The api response format is a bit interesting. With the format

[code]

I've added a `CandidatesNearby` property to include the other results. Would you give me an input x,y with all the parameters and the expected result from the api so I can determine if this will suite your needs?

[2019-02-05 03:18] clancyblack commented on #84
This sounds great. Here are two examples you could test:

X: -111.890836
Y: 40.588079
Ramp: true
Buffer: blank
Ref: 4326
RESULT: Should return route 209P about milepoint 12.18 and route 89P about milepoint 366.8

X: -111.685057
Y: 40.234105
Ramp: true
Buffer: blank
Ref: 4326
RESULT (4): 14P mp 1.06, 15P mp 265.6, 15N mp 265.6, 15PR26509 mp 0.034

Thanks

[2019-02-05 16:59] steveoh commented on #84
@clancyblack Let me know what you think about these results?

## Sample 1

sample response

[code]

## Sample 2

samplem response

[code]

[2019-02-05 17:02] clancyblack commented on #84
Those look great. The second one returned a lot more results than, but that doesn't surprise me given how many ramps are in that area. It looks like it is working exactly how I would expect. This will be extremely helpful for how we are using the service.

[2019-02-05 17:03] steveoh commented on #84
I am going to order the results by `offsetmeters` and add a `suggestion` property to let you cap the `candidate` count and then deploy it.

[2019-02-05 17:54] clancyblack commented on #84
Sounds great, thanks again!

WCEC Engineers
UDOT Consultant
801-722-9736

On Tue, Feb 5, 2019 at 10:03 AM steveoh <notifications@github.com> wrote:

[2019-02-06 01:38] #84 closed

[2019-02-06 01:38] steveoh commented on #84
this is now live in v1.10. Please test and provide any feedback

[2019-02-12 15:54] joshgroeneveld opened #88 "Geocoding API Explorer shows HTTPS, but only works with HTTP"
In the Web API Explorer, it shows a URL with HTTPS when geocoding with street and zone:
![image](https://user-images.githubusercontent.com/4296780/52647380-d6cecc00-2ea1-11e9-9059-70812e08913b.png)
If I try the same address using the Python requests library, I get an error if I use https:
![image](https://user-images.githubusercontent.com/4296780/52647965-e69ae000-2ea2-11e9-9cec-9de81d4fd5c4.png)

[2019-02-12 16:17] steveoh commented on #88
Https definitely works. I think the error is in the python code and the sample probably needs to be updated to be successful with https. I would start investigating making https requests with python. I am going to close this and open an issue to update the sample code. Thanks @joshgroeneveld

[2019-02-12 16:17] #88 closed

[2019-02-12 16:19] steveoh opened #89 "Update python sample code to work with SSL"
#88 states that the sample code does not function with https urls

[2019-02-12 17:16] steveoh commented on #89
@joshgroeneveld https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl seems to be the root cause. If you trust our certificate then I would assume this would work.

[2019-02-12 17:16] steveoh commented on #88
Follow along in #89

[2019-02-12 17:39] steveoh commented on #89
It appears the quickest way to make this work without getting into the weeds with certificate authorities and stores etc is to send `verify=False` with the request to disable the certificate verification.

[2019-02-12 17:49] steveoh commented on #89
I opened a ticket with our hosting because it appears we have an incomplete trust chain. https://www.ssllabs.com/ssltest/analyze.html?d=api.mapserv.utah.gov

https://stackoverflow.com/a/42540637/352432

Hopefully they can resolve the issue and it will just work for you and everyone else.

[2019-02-12 19:30] steveoh commented on #89
SSL chain has been fixed and current sample works without requiring any changes.

[2019-02-12 19:30] #89 closed

[2019-02-13 16:05] clancyblack commented on #84
Thanks Steve. I ran a few tests on the live api and it looks good. We're
integrating this into our systems in about a month, we'll let you know how
it goes.

Clancy

WCEC Engineers
UDOT Consultant
801-722-9736

On Tue, Feb 5, 2019 at 6:38 PM steveoh <notifications@github.com> wrote:

[2019-02-21 19:25] clancyblack commented on #83
Steve,

Don't mean to bug you because we're so grateful for the other change you
already made, but I'm curious if this change is still on the table. Any
update?

Thanks

WCEC Engineers
UDOT Consultant
801-722-9736

On Mon, Jan 28, 2019 at 6:58 PM steveoh <notifications@github.com> wrote:

[2019-02-21 20:33] steveoh commented on #83
No problem. We are in a bit of a funding crunch right now so I've had to switch to paid work. If you want to sponsor this feature, we could make it happen sooner.

cc @brigsz

[2019-02-21 20:41] clancyblack commented on #83
Makes sense, I'm not sure of how that works but I will ask our group. If
you have any info/explanation of that process it would help.

Clancy

WCEC Engineers
UDOT Consultant
801-722-9736

On Thu, Feb 21, 2019 at 1:33 PM steveoh <notifications@github.com> wrote:

[2019-03-18 15:57] steveoh opened #90 "Well known password change location"
https://wicg.github.io/change-password-url/index.html

[2019-04-03 12:29] clancyblack opened #91 "Decreasing parameter of Route and Milepost API is not working"
_Please be comfortable to submit an issue if you have a question, want to ask to post new content or if the website isn't working properly for you._

## Issue description
The "Route and Milepost" API is not correctly handling the "decreasing" input parameter. Please see the attached GIF for a demonstration. I will also attempt to outline how to verify this here.

1. Coordinates x,y  -111.90472, 40

[2019-04-03 15:40] steveoh commented on #91
@clancyblack Are you able to verify in the milepost data we host on gis.utah.gov that the results do not match the data or it is a data issue?

[2019-04-03 16:20] steveoh commented on #91
Yup, I can verify that the side parameter is being ignored in the api for route milepost.

[2019-04-03 16:58] steveoh commented on #91
the server object extension is providing the proper coordinates. The api is fouling up the parameters sent to the SOE some where.

[2019-04-03 17:05] #91 closed

[2019-04-03 17:12] steveoh commented on #91
Give it a try. I believe this is working properly now.

[2019-04-04 02:52] clancyblack commented on #91
Yep, looks like it is working great now, thanks!

Clancy

WCEC Engineers
UDOT Consultant
801-722-9736

On Wed, Apr 3, 2019 at 11:12 AM steveoh <notifications@github.com> wrote:

[2019-04-04 13:55] steveoh commented on #91
Great. Thank you for the great bug report!

[2019-04-24 17:49] steveoh opened #92 "output formatter causing fatal crash"
## Request

[code]

## Stack

[code]

[2019-04-29 18:42] #92 closed

[2019-06-18 17:14] sterlingpetersen opened #93 ""Same" address, different results"
Ran across these two addresses resolving to different points. Probably OK for many use cases (maybe close enough), but I wondered if this should be captured with some backend street aliasing or whatnot.

[code]

[2019-06-18 17:58] steveoh commented on #93
I will assume one is going to the address points and the other the centerlines?

[2019-06-18 18:00] steveoh commented on #93
verified. @gregbunce does the road grinder not create alias records for the address points?

[2019-06-18 19:42] gregbunce commented on #93
So, only the sgid roads contain alias names - address points in the sgid do not.  however, we do run the address points through the roadgrinder optimization process where we create an alternate names table for them if they can be geocoded without a predir.   My guess on issue #93 would be the same as @steveoh  which is possible - one dataset is using the primary address and the other is using the

[2019-06-18 19:52] steveoh commented on #93
Correct me if I make any incorrect assumptions based on your reply @gregbunce...

You are saying that the address points only use the primary address, while the centerlines have an alt names table built in road grinder that allows them to use the alias fields.

To further clarify, road grinder is only creating the alt names table without predirs for the address point locator.

If that is all accur

[2019-06-18 20:30] gregbunce commented on #93
Yup, address points only contain the primary address name.  whereas the roads dataset contains both a primary and an alias road name.

For the road grinder data, an alternate names table is created for both datasets.

For the roads the alternate names table: it contains the alias names as well as a record if you don't need a predir on the primary.

For the address points alternate names table: it

[2019-06-18 20:32] gregbunce commented on #93
A little more info on issue #93.  It looks like the primary address name for this location is University Park.  The roads dataset has University Park as the primary and 1200 W as the alias.  The address point dataset has two points stacked on top of each other - one with Univerity Park, the other with 1200 W.   I suppose both addresses are valid for this location.

[2019-06-18 21:14] steveoh commented on #93
2075 UNIVERSITY PARK BLVD matches on centerlines.

[2019-06-18 21:27] steveoh commented on #93
@sterlingpetersen It looks like you are using the multiple address geocoding endpoint. I am going to mark that as deprecated. I would suggest updating your code to use the single address endpoint while we sort out this issue. Thanks!

[2019-07-15 20:22] #83 closed

[2019-09-24 17:39] jacobdadams opened #95 "Addresses using "#" for apartment number aren't matching"
Addresses that use a number sign ("#") to specify the apartment number don't seem to generate a match.

Random example:

- "1619 W Thornhill Dr Apt 1308" matches with a score of 100 using the AddressGrid locator.
- "1619 W Thornhill Dr # 1308" does not match at all.
- "1619 W Thornhill Dr" gives a match at the same location, same locator, and same score as keeping "Apt 1308" in the address.

It se

[2019-09-24 17:45] steveoh commented on #95
It is only related to 46 in the sense that we do not use unit numbers when geocoding currently. You could remove them as you will get the same result with or without it.

But to address the issue you are seeing, there are certain characters that have special meaning in urls and therefore need to be encoded to not confuse the browser and api.

Read about it [on stack overflow](https://stackoverflow

[2019-09-24 17:45] #95 closed

[2019-09-24 17:56] jacobdadams commented on #95
Ok, yeah, that explains it. I guess atlas.utah.gov was throwing me off because I was seeing the same behavior there, so I assumed it was something to do with the geocoder itself.

[2019-09-24 18:21] steveoh commented on #95
ok then we should open an issue on https://github.com/agrc-widgets/dart-board/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

[2019-09-24 19:34] stdavis commented on #95
I opened an issue in agrc-widgets/dart-board...

[2019-10-03 21:40] clancyblack opened #96 "Reverse Route and Milepost not handling Federal Aid Routes"
The "Reverse Route and Milepost" API does not seem to handle Federal Aid routes even if the includeRampSystem parameter is set to True.

Reproduce:
Using the "Route and Milepost" API input a federal aid route and associated parameters. For example, route = 2960P, milepost = 1.007, spatial ref = 4326, and fullroute = true. This should return a x/y of
"x": -111.71475729348826,
   "y": 40.29718315950

[2019-10-28 22:23] steveoh opened #97 "regex, set timeouts on all regex's"
It's a good thing to do.

[2020-01-28 23:01] steveoh opened #103 "space in desktop ip"
the application stored a space before the ip address causing issues.

eg: ` 127.0.0.1`

Leading and trailing spaces should be trimmed.

[2020-04-06 17:04] stdavis opened #104 "Make Life Easier for Desktop Users with Dynamic IP Addresses"
There needs to be a better way for people to use API keys from their personal machines that don't have static IP addresses. We shouldn't expect users of tools like the [geocoding toolbox](https://github.com/agrc/geocoding-toolbox) to generate a new key each time they get a new address.

I possible workaround might be to spoof the referrer in the application to be some domain that is specific to th

[2020-04-30 16:02] steveoh opened #108 "invalid referrer header"
setting this header value to an invalid value causes a 500 error. Try to catch this and return a good error message.

[2020-04-30 17:32] #108 closed

[2020-06-22 16:14] stdavis opened #109 "localhost/dev keys returning 400s"
My requests using localhost/dev keys have started returning:
[code]

Request headers:
[code]

Did Chrome break something?

[2020-06-22 16:19] steveoh commented on #109
I'm not sure that the api logic allows custom ports. There aren't [any tests for it](https://github.com/agrc/api.mapserv.utah.gov/blob/master/WebAPI.API.Tests/Handlers/AuthorizationHandlerTests.cs)

[2020-06-22 16:21] stdavis commented on #109
We should support them. I wonder what happened to break them? I've used them for years and I don't think that they are uncommon in development.

[2020-06-22 16:32] stdavis commented on #109
A newly generating key worked. ¯\_(ツ)_/¯

[2020-06-22 16:32] #109 closed

[2020-06-23 00:16] steveoh commented on #75
closing as unnecessary

[2020-06-23 00:16] #75 closed

[2020-07-28 18:27] steveoh commented on #30
since we are deprecating the multiple endpoint i'm going to close this.

[2020-07-28 18:27] #30 closed

[2020-07-28 18:43] gregbunce commented on #93
I will work with @ZachBeck to resolve the mismatch in address points and roads for the address: 2075 University Park Blvd in Layton.  Essentially, the address points are missing the word "Park" in the street name.  When looking on google street view, the street name is "University Park Blvd".

[2020-07-28 19:02] steveoh commented on #96
Right now the reverse milepost doesn't include the [federal aid routes](https://github.com/agrc/api.mapserv.utah.gov/blob/master/WebAPI.Search.Soe/Endpoints/ReverseMilepost.cs#L170), collectors, or ramps. I'm not sure why we made that decision. It sounds like we should include at least the federal aid routes.

We are updating the code to give the option to use the new UDOT roads and highways servi

[2020-07-28 20:10] steveoh commented on #33
this is implemented in the v2 branch

[2020-07-28 20:10] #33 closed

[2020-07-28 20:11] steveoh commented on #85
I think this will migrate to the udot roads and highway solution services

[2020-08-04 23:20] steveoh opened #112 "milepost side producing wrong value"
[code]

The [hittest](https://github.com/agrc/api.mapserv.utah.gov/blob/7c7fdb6cdacae3be3e0f31bbcb04e7a7d49e54ec/WebAPI.Search.Soe/Endpoints/ReverseMilepost.cs#L208-L209) is pulling the direction from the segment instead of from the route label and is sometimes wrong.

Replace hittest value with value based on `P` for positive and `N` for negative.

[2020-08-05 19:38] ZachBeck commented on #93
University Park Blvd addresses are fixed in the address points now.

[2020-08-05 19:47] steveoh commented on #93
/remind me to verify that `2075 N 1200 W, 84041` and 2075 `UNIVERSITY PARK BLVD, 84041` return the same location 8/10

[2020-08-10 17:04] steveoh commented on #93
this looks good now
![image](https://user-images.githubusercontent.com/325813/89809755-3f2f5580-daf9-11ea-89c9-e85910852728.png)
![image](https://user-images.githubusercontent.com/325813/89809786-4b1b1780-daf9-11ea-9b63-2e9f49b60b1a.png)

[2020-08-10 17:04] #93 closed

[2020-08-14 21:00] stdavis opened #115 "Unexpected no match result for 514 E 3825 N, 84414"
From @geekcyclist working with Vista addresses:

Here's a reproduction of the issue: [http://api.mapserv.utah.gov/api/v1/geocode/514 E 3825 N/84414?acceptScore=65&apiKey=AGRC-Dev](http://api.mapserv.utah.gov/api/v1/geocode/514%20E%203825%20N/84414?acceptScore=65&apiKey=AGRC-Dev)

Looks like we may be missing some centerline and possibly address point data from Weber County. Here's a screenshot fro

[2020-08-14 22:31] steveoh commented on #115
@ZachBeck is there an address point at that location?

[2020-08-17 14:09] ZachBeck commented on #115
We don't have a point for that location, I'll check with the county.

[2020-08-25 16:04] ZachBeck commented on #115
This slipped through the cracks on my end, I just contacted the county. @gregbunce it looks like the roads need updating in this area as well,

[2020-08-25 18:48] steveoh commented on #115
/remind @ZachBeck and @gregbunce to check this out again next week 8/31

[2020-08-25 19:00] ZachBeck commented on #115
The county responded and said they would fix the address point.

[2020-08-25 19:01] steveoh commented on #115
That is great. When do you expect the data to flow into the SGID?

[2020-08-25 19:08] ZachBeck commented on #115
Weber sent Michael an update yesterday so hopefully it shows up next month in the points. The fixes for the roads are in the county's data now.

[2020-08-25 19:26] steveoh commented on #115
@gregbunce when do you expect the data to flow into the SGID so I can update the reminder

[2020-08-28 15:18] stdavis opened #117 "Artificially lower match scores for differing suffix directions"
351 E 850 W, 84701 [returns a match score of `92.43`](http://api.mapserv.utah.gov/api/v1/geocode/351%20E%20850%20W/84701?apiKey=AGRC-Dev) but matches a totally different street: 351 E 850 **N**.

I would have expected the score to be much lower. I wonder if the API could artificially lower match scores when the suffix (or prefix) directions don't match the input.

Possible duplicate of #11

[2020-08-31 16:21] steveoh commented on #117
It is certainly something we should investigate

[2020-08-31 16:27] gregbunce commented on #115
i'll fix the roads and it will be reflected in this Thursday's sgid road update.  The public will see it on Friday.

[2020-08-31 16:38] steveoh commented on #115
ok so to recap,

- roads will be updated Thursday and the SGID flow will get that to the api by next week.
- address points are sometime in September hopefully?

@ZachBeck do you have a better guess on the address points now or will you need more time to make an estimate?

[2020-08-31 17:03] ZachBeck commented on #115
No, it will still happen when they give Michael updates in September.

[2020-08-31 17:31] steveoh commented on #115
/remind me to geocode the address on 9/7

[2020-08-31 23:11] gregbunce commented on #115
the road segment has been updated/extended in utrans to incorporate 514 E 3825 N, 84414 (as well as the other addresses on the block). again, the data will be public this Friday.
![image](https://user-images.githubusercontent.com/16906316/91777393-ecebcc80-ebac-11ea-8662-07a5270d66d3.png)

[2020-09-02 16:44] geekcyclist opened #120 "api explorer - encode user input to be valid and notify them of the change"
Use an address like
Street: 135 S 300 E #108
or
Street: 135 S 300 E # 108
with
Zone: 84111
All other settings as default

Click "Try It"

Expected behavior
The search would behave the same as if searching "135 S 300 E  Unit 108" or "135 S 300 E  Apt 108 "

Actual behavior
The Try It button changes to the "zebra" background
The cursor hover over the Try It button changes to the "universal no"
You c

[2020-09-02 16:53] steveoh commented on #120
The current explorer page is not smart enough to turn that pound sign hashtag octothorpe (url reserved character) into a %23 for valid use in a url. We should improve this in the new explorer page we are working on but I kind of enjoy that it doesn't work since it wouldn't work as a normal get request in that state. Expecting people to know that will be problematic so we should "fix" the url and d

[2020-09-04 16:01] stdavis opened #121 "Add version support for v2 api explorer"
The v2 API explorer needs to be able to support the v1 and v2 APIs. This could be done via the URL. For example:
- `/documentation/v1/geocoding`
- `/documentation/v2/geocoding`

This means that we would maintain two separate sets of endpoint components; one for each version.

New react-router routes would need to be added for each version.

@steveoh Does this sound like the right direction to you?

[2020-09-04 16:08] stdavis opened #122 "Deep links for API Explorer"
All headers in the api explorer documentation should be deep-linkable. For example:

- `/documentation/v1/geocoding/docs/#acceptScore`

This would require adding a new react-router route for displaying the demo vs. the documentation components.

@steveoh Is this what you were thinking?

[2020-09-04 16:55] steveoh commented on #122
Sounds reasonable.

[2020-09-04 16:57] steveoh commented on #121
I think the router routes sound like the right direction. I would try to reuse the endpoint components as much as possible with possible v1 or v2 annotations to show and hide different fields or information. Does that sound possible? Otherwise we will have a lot of duplicated code.

[2020-09-04 17:41] stdavis commented on #121
That's an interesting idea. I feel like that it technically possible. I'm not familiar enough with the differences between v1 and v2 to know if it would work. But it sounds like they are pretty similar.

[2020-09-09 00:05] steveoh commented on #115
@gregbunce The geocoding endpoint is returning the same result. Is that related to the issues mentioned in the blog post? Has the road grinder gdb not get updated?

[2020-09-09 18:07] steveoh commented on #115
It seems the 🚜 pallet did not deploy the streets locator. I'll look into it. I pushed the updated locator manually and the result score is 100 now. Go team.

[2020-09-09 18:07] #115 closed

[2020-09-21 16:40] #121 closed

[2020-09-21 16:41] #120 closed

[2020-09-21 16:42] steveoh commented on #85
roads and highways in implemented and almost deployed. closing.

[2020-09-21 16:42] #85 closed

[2020-09-30 17:25] gregbunce opened #125 "geocoding enhancement - return residential or commercial"
an enhancement to the geocoder would be to return whether the matched address is residential or commercial.

This would only apply to address-point matches, but it would be a useful enhancement.  A great use-case is geocoding voters and also 911, for dispatch purposes.

This info can be found in the location.address_points' `pttype` field.  It will require a little standardization of the existing

[2020-09-30 17:27] steveoh commented on #125
Will you create an issue for @ZachBeck's address point ETL project. It should be in github somewhere.

[2020-09-30 17:31] steveoh commented on #125
I think `WriteAdditionalOutputFields = false` and https://desktop.arcgis.com/en/arcmap/latest/manage-data/geocoding/locator-output-properties.htm#ESRI_SECTION1_CDBD0145E29D4E7780042CE8AFF832E8 make this possible.

[2020-10-06 16:58] steveoh commented on #112
/remind me to test the bot integration

[2020-10-06 21:18] steveoh commented on #112
/remind me to make the bot work

[2020-10-06 21:42] steveoh commented on #112
/remind me to make the bot work

[2020-10-27 03:02] steveoh opened #131 "ci and project secrets"
the log writer service account is not available in github so it is missing from the container built in CI. need to replace that with a secret or some other method.

[2021-10-28 00:28] steveoh opened #143 "shape@ empty for cache county parcel 04-234-0201"
`shape@` returns no rings but `shape@evelope` returns a bounding box.

the wkt is

[code]

[2021-12-06 16:53] maxxpm-ben opened #144 "New user registration redirects back to login screen instead of new profile page"
This isn't technically an issue with the API, but I couldn't find another contact method. I have tried several times to register for an account to get an API key, but nothing happens when I click register.

[2021-12-06 16:54] steveoh commented on #144
To clarify, you are clicking on register here?

https://developer.mapserv.utah.gov/AccountAccess
![image](https://user-images.githubusercontent.com/325813/144888130-8fcae7ba-1fa2-4c72-8d73-9e2855b02ce5.png)

[2021-12-06 16:55] maxxpm-ben commented on #144
Yes

[2021-12-06 17:05] steveoh commented on #144
I just tried this and yes, something is out of the ordinary. It redirected my back to the login screen. The account was created so try to login with the credentials you supplied first.

[2021-12-06 17:13] steveoh commented on #144
Did you get the account confirmation email?

[2021-12-06 17:14] maxxpm-ben commented on #144
No, I did not.

[2021-12-06 17:15] steveoh commented on #144
Would you send me an email from the account you signed up with to sgourley@utah.gov please please.

[2021-12-06 17:48] steveoh commented on #144
will you try to create an account again or would you be ok if I tried for you?

[2021-12-06 17:50] maxxpm-ben commented on #144
I just tried, and it didn't work. Feel free to try it for me.

[2021-12-06 18:05] steveoh commented on #144
I just tried to register you and I now see an account in the db. Did you get an account confirmation email?

[2021-12-06 18:07] maxxpm-ben commented on #144
Yes, but I just tried to login with the credentials I created, and I was redirected back to the login screen.

[2021-12-06 18:07] steveoh commented on #144
Use the credentials I provided for you in your email.

[2021-12-06 18:17] steveoh commented on #144
This bit of code does not appear to be doing what it is supposed to. https://github.com/agrc/api.mapserv.utah.gov/blob/5b975b147cd37d53c6427faf38ac076f20494dc2/WebAPI.Dashboard/Controllers/AccountAccessController.cs#L137-L150

[2021-12-07 02:24] steveoh commented on #144
It seems that updating the database has solved this issue.

[2021-12-07 02:24] #144 closed

[2022-01-11 17:14] justinjmiller commented on #57
adding my support for this feature

[2022-05-03 16:43] mw-lcsd opened #150 "API Key Invalid"
Hi,

I am trying to write a python script to geocode addresses using the UGRC Web API. I have created a Desktop Application key and am using that key in my python script. However, whenever I run the script, it fails with a message of "Invalid API Key".

I'm not sure what I am doing wrong. Any help would be appreciated!

[2022-05-03 16:55] mw-lcsd commented on #150
Never mind. Problem solved.

[2022-05-03 16:55] #150 closed

[2022-05-03 20:05] steveoh commented on #150
What was the issue if you don't mind me asking?

[2022-09-07 17:00] steveoh commented on #143
https://api.mapserv.utah.gov/api/v1/search/cadastre.cache_county_parcels/shape@?predicate=parcel_id%3D'04-234-0201'&apiKey=AGRC-Dev

is still returning

[code]

[2022-09-07 17:02] steveoh commented on #131
This is the case with v1 as well. Working on this at the moment but will also need a solution for the cloud native deployment.

[2022-09-07 17:05] steveoh commented on #125
@gregbunce is this still something you would like to see us pursue? It seems a little out of stride for geocoding and a little janky that it would only be on address points. But if there is still a strong enough case for voting/911 then we can figure something out.

Currently doing a search for address points would give you this data so it's not impossible. Maybe the GQL API would make this reques

[2022-09-07 17:10] steveoh commented on #117
I like this idea. We would need to figure out the value to lower the score by or if a default value should be used.

[2022-09-07 17:10] steveoh commented on #112
Closing as UDOT roads and highways handles all of this logic now.

[2022-09-07 17:10] #112 closed

[2022-09-07 17:13] steveoh commented on #96
Handled by UDOT roads and highways

[2022-09-07 17:13] #96 closed

[2022-09-07 17:15] steveoh commented on #90
We're going to switch to utah id at some point and stop handling accounts making this unnecessary.

[2022-09-07 17:15] #90 closed

[2022-09-07 17:20] steveoh commented on #49
https://github.com/agrc/masquerade is the solution for this now.

[2022-09-07 17:20] #49 closed

[2022-09-07 17:33] steveoh commented on #16
Link no longer exists.

[2022-09-07 17:33] #16 closed

[2022-09-07 17:33] steveoh commented on #15
This hasn't been an issue so far.

[2022-09-07 17:33] #15 closed

[2022-09-07 17:37] steveoh commented on #13
I understand the use cases for small offset geocoding. I don't think our data supports those very well and there hasn't been any interest in this. It's only on the roads locators now (15m). If @gregbunce doesn't want to add it, then I'd say this is an unnecessary feature.

[2022-09-07 17:37] #13 closed

[2022-09-07 17:39] steveoh commented on #11
duplicate of #117

[2022-09-07 17:39] #11 closed

[2022-09-07 17:40] steveoh commented on #10
no longer have access to alias values in postgres

[2022-09-07 17:40] #10 closed

[2022-09-07 17:42] steveoh commented on #9
all attributes are lower in postgres. data doesn't make a ton of sense.

- upper (upper case all output properties)
- lower (lower case all output properties)
- input  (set properties to match input request)

These options make the most sense.

[2022-09-07 19:23] stdavis commented on #117
I'd like to start the bidding at `-20` from the original score.

[2022-09-07 19:24] steveoh commented on #117
Typically that would put it at about 72. Would we want it to go below the default match threshold?

[2022-09-07 19:26] stdavis commented on #117
Good point. Is the default match threshold 75? Maybe `-15` or `-10`?

[2022-09-07 19:31] steveoh commented on #117
its 70

[2022-09-07 19:33] stdavis commented on #117
Maybe `-15` is the safest? Actually, though, I almost think that I would want it to drop below the match threshold. IMO, that's a bad match that only causes confusion. My vote would be maybe `-25`.

[2022-09-16 16:38] jacobdadams opened #161 "100 score for a wrong location when omitting street direction"
When I enter `355 Main St, 84741` (which is in Kanab), I get a 100 score match in Cannonville. If I search using Masquerade as my Pro locator, the first 5 or 6 results are not even in Kane County.

If I add the proper street direction `355 N Main St, 84741` it locates perfectly and accurately.

I'm perplexed why it would return a 100 score match when the returned location isn't in the zip code pro

[2022-09-19 15:08] steveoh commented on #161
## Address System mapping

84741 is mapped to these address grids:

zip | grid | weight
-- | -- | --
84741 | BIG WATER | 2
84741 | BULLFROG | 0
84741 | CANNONVILLE | 1
84741 | KANAB | 3

<img width="869" alt="image" src="https://user-images.githubusercontent.com/325813/191046820-93794ca0-c596-41de-bce8-ab7f69175da2.png">

## api.utah.gov

The top matches chosen from the api are

1. 355 MAIN ST, Ca

[2022-11-16 19:59] steveoh opened #163 "Coordinate streets do not have street types"
## Example

- `1090 south 500 east cir`
- `SAINT GEORGE`

returns an incorrect standardized address

`standardizedAddress": "1090 south 500 circle east",`

which results in poor match.